* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  background: white;
  color: rgba(29, 31, 46, 0.7);
}

body._lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__icon,
.burger {
  display: none;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.header {
  padding: 28px 0;
}

.header__buy {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.menu__link,
.buy__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d1f2e;
  position: relative;
}

.menu__link::before,
.buy__link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background: rgba(162, 95, 75, 0);
  transition: all 0.3s ease;
}

.menu__link:hover::before,
.buy__link:hover::before {
  background: rgba(162, 95, 75, 0.3);
  bottom: -5px;
}

@media (max-width: 716px) {
  .burger {
    display: block;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }

  .header__container {
    min-height: 46px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 26px;
    height: 16px;
    cursor: pointer;
    left: 30%;
    bottom: -3px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: white;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header__menu {
    position: fixed;
    z-index: -1;
    top: -100%;
    width: 100%;
    height: 100%;
    background: #5e6491;
    transition: top 0.3s ease 0s;
    overflow: auto;
    left: 0;
  }

  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #757ec4;
    height: 46px;
    z-index: 50;
  }

  .header__menu._active {
    top: 10px;
  }

  .menu__list {
    flex-direction: column;
    gap: 38px;
    padding: 46px 0 0 0;
  }

  .menu__link {
    font-size: 18px;
  }

  .logo__link {
    display: block;
    padding: 10px 0 0 0;
  }

  .buy__link {
    display: block;
    margin: 0 0 0 auto;
  }
}

/**********************MUGS***************************/

.mugs {
  background: url(img/bg/bg-mug.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 239px 0 177px 0;
}

.mugs__pad {
  padding: 0 30px;
}

.mugs p {
  color: white;
  text-align: center;
}

.mugs__best {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.mugs__title {
  font-size: 47px;
  line-height: 60px;
  margin: 0 0 10px 0;
}

.must__mugs {
  font-size: 17px;
  line-height: 30px;
  margin: 0 0 48px 0;
}

.mugs__btn {
  display: block;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  padding: 0 24px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  max-width: 231px;
}

/************************POWERFUL************************/

.powerfull {
  padding: 123px 0 51px 0;
}

.powerfull p {
  text-align: center;
}

.powerfull__power {
  font-size: 28px;
  line-height: 40px;
  color: #1d1f2e;
  max-width: 578px;
  margin: 0 auto 16px auto;
}

.powerfull__info {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  max-width: 658px;
  margin: 0 auto 21px auto;
}

.powerfull__link {
  display: block;
  color: #a25f4b;
  max-width: 135px;
  margin: 0 auto 0 auto;
  position: relative;
}

.powerfull__link::before {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 0;
  width: 100%;
  background: rgba(162, 95, 75, 0.2);
  transition: 0.3s ease;
}

.powerfull__link:hover::before {
  bottom: -5px;
  height: 2px;
}

/**********************FEAUTURE MAGS*************/

.feautures__mug {
  padding: 51px 0 55px 0;
}

.mug__feature {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  max-width: 120px;
  margin: 0 auto 100px auto;
  position: relative;
}

.mug__feature::after,
.mug__feature::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 30px;
  background: #ececed;
}

.mug__feature::before {
  bottom: 50%;
  left: -50px;
}

.mug__feature::after {
  bottom: 50%;
  right: -40px;
}

.featire__mug__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.feature__mug__item img {
  margin: 0 0 35px 0;
  max-width: 100%;
}

.feature__mug__title {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #1d1f2e;
  margin: 0 0 5px 0;
}

.feature__mug__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  text-align: center;
}

.feature__mug__item .feature__mug__text span.through {
  text-decoration: line-through;
}

.feature__mug__text span.new__span {
  font-size: 19px;
  line-height: 32px;
  color: #a25f4b;
  margin: 0 10px 0 0;
  text-decoration-line: none;
}

/***********************MORE PRODUCTS*******************/

.more__products {
  padding: 52px 0 82px 0;
}

.more__feature {
  margin: 0 auto 100px auto;
}

.more__product__row {
  display: flex;
  flex-wrap: wrap;
  gap: 65px 17px;
  justify-content: center;
}

/***************************SPECIAL**********************/

.feature__prop {
  max-width: 354px;
  margin-bottom: 100px;
}

.special {
  padding: 85px 0 130px 0;
}

.special__item__one {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr;
  max-width: 460px;
  gap: 20px;
}

.special__item__one img:first-child {
  grid-row: 1/3;
}

.special__row {
  display: flex;
  gap: 80px;
}

.special__item__two {
  padding: 5px 0 10px 0;
}

.special__item__title {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
  margin: 0 0 14px 0;
}

.special__item__get {
  font-size: 36px;
  line-height: 50px;
  color: #1d1f2e;
  margin: 0 0 15px 0;
  max-width: 237px;
}

.special__item__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin: 0 0 25px 0;
  max-width: 353px;
}

.special__item__btn {
  display: block;
  padding: 9px 24px;
  background: #1d1f2e;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 173px;
  text-align: center;
  transition: 0.3s ease;
}

.special__item__btn:hover {
  background: #404a96;
  color: #dbc6c6;
}

@media (max-width: 844px) {
  .special__row {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 492px) {
  .special__item__one {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/**************image******************/

.image {
  background: url(img/bg/IMAGE\ .jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 340px;
}

/*******************BEHIND********************/

.behind {
  padding: 100px 0 200px 0;
}

.behind__title {
  max-width: 287px;
  margin-bottom: 102px;
}
.behind__item img {
  margin: 0 0 29px 0;
}

.behind__item__title {
  font-size: 20px;
  line-height: 32px;
  color: #1d1f2e;
  margin: 0 0 10px 0;
}

.behind__item__text {
  font-size: 16px;
  line-height: 28px;
  color: rgba(29, 31, 46, 0.7);
  margin: 0 0 16px 0;
}

.behind__item__date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.behind__row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.behind__item p {
  max-width: 287px;
}

/*********************UPDATES***********************/

.updates {
  background: url(img/bg/updates-image.jpg) no-repeat;
  background-size: cover;
  padding: 80px 0 85px 0;
}

.updates__title {
  max-width: 271px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 15px;
}

.updates__coffee {
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.updates__form {
  text-align: center;
}

input {
  padding: 18px 40px;
  background: transparent;
  border: 1px solid #2f303e;
  box-sizing: border-box;
  min-width: 350px;
  color: white;
}

::placeholder {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff94;
}

.button {
  padding: 18px 25px 17px 25px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px rgba(29, 31, 46, 0.1);
  color: #000000;
  transition: 0.3s ease;
}

.button:hover {
  background: rgb(136, 109, 197);
}

@media (max-width: 486px) {
  input {
    min-width: 250px;
  }

  .updates__title::before,
  .updates__title::after {
    content: none;
  }
}

@media (max-width: 377px) {
  .updates__title {
    text-align: center;
  }

  input {
    min-width: 220px;
  }
}
/******************FOOTER****************/

.footer {
  padding: 100px 0 60px 0;
}

.footer__row {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__item img {
  margin: 0 0 22px 0;
}

.footer__delivering {
  max-width: 258px;
  margin: 0 0 81px 0;
}

.footer__title {
  margin: 0 0 22px 0;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d1f2e;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__mwnu__link {
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 31, 46, 0.7);
  transition: 0.3s ease;
}

.footer__mwnu__link:hover {
  color: rgb(3, 7, 39);
}

.footer__happy {
  margin: 0 0 16px 0;
}

.footer__email {
  display: block;
  font-size: 23px;
  line-height: 36px;
  color: #1d1f2e;
  margin: 0 0 95px 0;
}
